<div class="row m-0">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="display-4 text-center lead text-success">Registro</h1>
                <hr>
                <form (ngSubmit)="onSubmitAddUser()">
                    <div class="form-group">
                        <label for="email" class="lead fontColor"><i class="far fa-envelope-open"></i> Email</label>
                        <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="lead fontColor"><i class="fas fa-key"></i> Contraseña</label>
                        <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password">
                    </div>
                    <button class="btn btn-primary btn-block lead">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>