<div class="row m-0">
    <div class="col-md-6 mx-auto mt-4">
        <div class="jumbotron bg-warning">
            <img src="../assets/img/logo-RS-final.png" class="img-responsive style-img mb-3">
            <p class="lead text-white">Chao Bullying es una aplicación mobile y web dirigida a la comunidad escolar con el fin de promover la comunicación y el buen trato entre todas quienes son participes de ella. Los usuarios van a poder leer, comentar y publicar casos, con el
                fin de apoyar y ayudar a todos aquellos que han vivido o estén en un entorno de bullying.</p>
        </div>
    </div>
</div>