<div class="row m-0 loginStyle">
    <div class="col-md-6 col-12 mx-auto mb-5">
        <div class="card mb-5">
            <div class="card-body containerCardLogin">
                <h1 class="display-4 text-center text-success">Inicio de sesión</h1>
                <hr>
                <form (ngSubmit)="onSubmitLogin()">
                    <div class="form-group">
                        <label for="email" class="lead fontColor"><i class="far fa-envelope-open"></i> Email</label>
                        <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="lead fontColor"><i class="fas fa-key"></i> Contraseña</label>
                        <input type="password" name="password" class="form-control" id="password" [(ngModel)]="password">
                    </div>
                    <button class="btn btn-primary btn-block lead">Iniciar sesión</button>
                </form>
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-facebook lead" (click)="loginFacebook()"><i class="fab fa-facebook-square"></i>  Facebook</button>
                    <button class="btn btn-google lead" (click)="loginGoogle()"><i class="fab fa-google"></i> Google</button>
                </div>
            </div>
        </div>
    </div>
</div>