.style-img {
    width: 200px;
    display: block;
    margin: auto;
}

.containerCardHome {
    -webkit-box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.75);
}

.message {
    background-color: #18BC9C;
    padding-top: 30px;
}

.btnNew {
    background-color: #7B4E39;
    color: #ffffff;
}

.btnStyle1 {
    background-color: #28A745;
    color: #ffffff;
}