<div class="row mt-4 containerCardHome bg-warning">
    <div class="col-md-12 mx-auto mt-3 text-center">
        <p class="lead text-white">Ingrese su mensaje</p>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="save()" #forma="ngForm">
                <div class="form-group">
                    <label class="text-white ml-3">Nombre</label>
                    <input [(ngModel)]="wallWrite.nombre" name="nombre" type="text" class="form-control ml-3" placeholder="Escriba su nombre" required>
                </div>
                <div class="form-group">
                    <label class="text-white ml-3">Curso</label>
                    <select [(ngModel)]="wallWrite.curso" name="curso" class="form-control ml-3" required>
                      <option value="Cuarto">Cuarto Medio</option>
                      <option value="Tercero">Tercero Medio</option>
                      <option value="Segundo">Segundo Medio</option>
                      <option value="Primero">Primero Medio</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-white ml-3">Mensaje</label>
                    <textarea [(ngModel)]="wallWrite.mensage" type="text" name="mensage" class="form-control ml-3" placeholder="Escriba su mensaje o noticia" rows="5" required></textarea>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button [disabled]="!forma.valid" type="submit" class="btn btn-success ml-5">Postear</button>
                    </div>
                    <div class="form-group">
                        <button [routerLink]="['/wall']" type="submit" class="btn btn-info ml-3">Volver</button>
                    </div>
                    <div class="form-group">
                        <button (click)="addNew(forma)" type="submit" class="btn btn-danger ml-3">Escribir otro mensaje</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>